<footer>
    <div class="footer-l">
      <a href="/politica-de-privacidad">Política de Privacidad</a>
      <a href="/terminos-y-condiciones">Términos y Condiciones</a>
    </div>
    <div class="copy">
        <p>&copy; 2023 Jesus Castro. Todos los derechos reservados.</p>
    </div>
    <div class="logos">
        <a href="enlace1.html">
          <img class="log-f" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="Logo 1">
        </a>
        <a href="enlace2.html">
          <img class="log-f"  src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="Logo 2">
        </a>
        <a href="enlace3.html">
          <img class="log-f"  src="https://cdn-icons-png.flaticon.com/512/87/87390.png" alt="Logo 3">
        </a>
      </div>
    </footer>
