
.footer-l{
    display: flex;
    justify-content: space-evenly;
 
}
a{
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 15px;
}
.log-f{
    width: 50px;
}
.copy{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logos{
    width: 100%;
    display: flex;
    justify-content: center;
}
