<div class="title-i">
  <h2>Infantil</h2>
</div>
<div class="box-i">
  <div class="card">
      <img class="i-i" src="https://i.pinimg.com/474x/cf/30/0c/cf300c49bb7cb5e9e262741f62001432.jpg" alt="imagen infantil"/>
      <p (click)="setImagenActual('https://i.pinimg.com/474x/cf/30/0c/cf300c49bb7cb5e9e262741f62001432.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-i" src="https://i.pinimg.com/474x/e3/d2/9b/e3d29b5c660ce0de47474d5a2f63d915.jpg" alt="imagen infantil"/>
      <p (click)="setImagenActual('https://i.pinimg.com/474x/e3/d2/9b/e3d29b5c660ce0de47474d5a2f63d915.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-i" src="https://i.pinimg.com/originals/05/af/b4/05afb48bb78b3ca80d680c7030f9ebc2.jpg" alt="imagen infantil"/>
      <p (click)="setImagenActual('https://i.pinimg.com/originals/05/af/b4/05afb48bb78b3ca80d680c7030f9ebc2.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-i" src="https://img.remediosdigitales.com/e9e6a1/depositphotos_321904914_l/1366_2000.jpeg" alt="imagen infantil"/>
      <p (click)="setImagenActual('https://img.remediosdigitales.com/e9e6a1/depositphotos_321904914_l/1366_2000.jpeg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-i" src="https://img.freepik.com/foto-gratis/concepto-moda-infantil-chico-chica-adolescentes-sentados-parque-ropa-colorida-ninos-estilo-vida-conceptos-colores-moda-modelos-caucasicos_155003-17709.jpg" alt="imagen infantil"/>
      <p (click)="setImagenActual('https://img.freepik.com/foto-gratis/concepto-moda-infantil-chico-chica-adolescentes-sentados-parque-ropa-colorida-ninos-estilo-vida-conceptos-colores-moda-modelos-caucasicos_155003-17709.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-i" src="https://img.freepik.com/fotos-premium/moda-infantil-dos-jovenes-modelos-ninas-ninos_86390-348.jpg" alt="imagen infantil"/>
      <p (click)="setImagenActual('https://img.freepik.com/fotos-premium/moda-infantil-dos-jovenes-modelos-ninas-ninos_86390-348.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-i" src="https://media.vogue.es/photos/606dbcec8381e111eecd2813/4:3/w_4058,h_3044,c_limit/07_MINI_MAYORAL.jpg" alt="imagen infantil"/>
      <p (click)="setImagenActual('https://media.vogue.es/photos/606dbcec8381e111eecd2813/4:3/w_4058,h_3044,c_limit/07_MINI_MAYORAL.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
</div>
