.mensaje-exito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin-bottom: 100px;
  padding: 25px;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #333;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.encuesta {
  margin-top: 20px;
  text-align: center;
}

.rating input[type="radio"] {
  display: none;
}

.rating label img {
  width: 40px; /* Tamaño de las imágenes de las estrellas */
  cursor: pointer;
}

textarea {
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.rating input {
  display: none; /* Oculta los inputs */
}

.rating label {
  display: inline-block;
  width: 30px; /* Ajusta el tamaño de las estrellas */
  transition: transform 0.2s ease-in-out; /* Animación de transformación */
}

.rating input:checked + label {
  transform: scale(1.2); /* Infla las estrellas al hacer click */
}

.rating input:not(:checked) + label:hover,
.rating input:not(:checked) + label:hover ~ label {
  transform: scale(1); /* Reduce las estrellas al pasar el ratón por encima */
}






.rating {
  display: flex;
  justify-content: space-between;
}

.rating input[type="radio"] {
  display: none;
}


.encuesta {
  margin-top: 20px;
  text-align: center;
}

.rating input[type="radio"] {
  display: none;
}

.rating label img {
  width: 40px;
  cursor: pointer;
}

textarea {
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 25px;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}
