<div class="title-h">
  <h2 class="h">Hombre</h2>
</div>
<div class="box-h">
  <div class="card">
    <img class="i-h" src="https://img.freepik.com/foto-gratis/retrato-guapo-sonriente-elegante-joven-modelo-vistiendo-ropa-jeans-gafas-sol-hombre-moda_158538-5023.jpg" alt="imagen hombre" />
    <p (click)="setImagenActual('https://img.freepik.com/foto-gratis/retrato-guapo-sonriente-elegante-joven-modelo-vistiendo-ropa-jeans-gafas-sol-hombre-moda_158538-5023.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
    <img class="i-h" src="https://i.pinimg.com/236x/26/60/87/2660877d8c1d9238fe01e8e6235221fa.jpg" alt="imagen hombre" />
    <p (click)="setImagenActual('https://i.pinimg.com/236x/26/60/87/2660877d8c1d9238fe01e8e6235221fa.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
    <img class="i-h" src="https://img.freepik.com/foto-gratis/retrato-guapo-sonriente-elegante-joven-modelo-vestido-ropa-jeans-hombre-moda_158538-5030.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698192000&semt=ais" alt="imagen hombre" />
    <p (click)="setImagenActual('https://img.freepik.com/foto-gratis/retrato-guapo-sonriente-elegante-joven-modelo-vestido-ropa-jeans-hombre-moda_158538-5030.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698192000&semt=ais'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
    <img class="i-h" src="https://images.unsplash.com/photo-1614252369475-531eba835eb1?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZEAutfTJS8QSJLDAfMHxzZWFyY2h8Mnx8bW9kZWxvJTIwZGUlMjBob21icmV8ZW58MHx8MHx8fDA%3D" alt="imagen hombre" />
    <p (click)="setImagenActual('https://images.unsplash.com/photo-1614252369475-531eba835eb1?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZEAutfTJS8QSJLDAfMHxzZWFyY2h8Mnx8bW9kZWxvJTIwZGUlMjBob21icmV8ZW58MHx8MHx8fDA%3D'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
    <img class="i-h" src="https://images.unsplash.com/photo-1521165946603-4019d13d7d46?auto-format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGhvbWJyZSUyMG1vZEAutfTJS8QSJLDAfMHxzZWFyY2h8MTZ8fGhvbWJyZSUyMG1vZGVsb3xlbnwwfHwwfHx8MA%3D%3D" alt="imagen hombre" />
    <p (click)="setImagenActual('https://images.unsplash.com/photo-1521165946603-4019d13d7d46?auto-format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGhvbWJyZSUyMG1vZEAutfTJS8QSJLDAfMHxzZWFyY2h8MTZ8fGhvbWJyZSUyMG1vZGVsb3xlbnwwfHwwfHx8MA%3D%3D'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
    <img class="i-h" src="https://images.unsplash.com/photo-1619533394727-57d522857f89?auto-format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG9tYnJlJTIwbW9kZWxvfGVufDB8fDB8fHww" alt="imagen hombre" />
    <p (click)="setImagenActual('https://images.unsplash.com/photo-1619533394727-57d522857f89?auto-format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG9tYnJlJTIwbW9kZWxvfGVufDB8fDB8fHww'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
    <img class="i-h" src="https://i.pinimg.com/originals/9b/a8/da/9ba8da066f6c9e7f92518d31990356b7.jpg" alt="imagen hombre" />
    <p (click)="setImagenActual('https://i.pinimg.com/originals/9b/a8/da/9ba8da066f6c9e7f92518d31990356b7.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
    <img class="i-h" src="https://i.pinimg.com/originals/82/05/96/8205969a6bc049665bd547423dddc774.jpg" alt="imagen hombre" />
    <p (click)="setImagenActual('https://i.pinimg.com/originals/82/05/96/8205969a6bc049665bd547423dddc774.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
</div>
