<div class="title-m">
  <h2>Mujer</h2>
</div>
<div class="box-m">
  <div class="card">
      <img class="i-m" src="https://img.freepik.com/foto-gratis/retrato-mujer-bonita-pelirroja-ropa-elegante-blanca-posando-amarillo_273443-4436.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1698883200&semt=ais" alt="imagen mujer" />
      <p (click)="setImagenActual(''); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-m" src="https://img.freepik.com/foto-gratis/joven-mujer-bonita-morena-posando-fondo-marmol-beige-vistiendo-pantalones-cortos-lino-beige-bolso-lujo-cuero-caramelo-camisa-blanca-accesorios-dorados-traje-estilo-callejero_291049-1753.jpg?size=626&ext=jpg&ga=GA1.1.44546679.1698883200&semt=ais" alt="imagen mujer" />
      <p (click)="setImagenActual(''); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-m" src="https://modaentrebastidores.com/3421-thickbox_default/vaqueros-skinny-selena.jpg" alt="imagen mujer" />
      <p (click)="setImagenActual('https://modaentrebastidores.com/3421-thickbox_default/vaqueros-skinny-selena.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-m" src="https://i.pinimg.com/originals/e3/e5/94/e3e5949e1fa934753f1a0ad13503fd4f.jpg" alt="imagen mujer" />
      <p (click)="setImagenActual('https://i.pinimg.com/originals/e3/e5/94/e3e5949e1fa934753f1a0ad13503fd4f.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-m" src="https://img.freepik.com/foto-gratis/retrato-hermosa-mujer-morena-sexy-linda-feliz-labios-rojos-amplios-pantalones-clasicos-sobre-fondo-blanco_158538-9385.jpg?size=626&ext=jpg&ga=GA1.1.1016474677.1697500800&semt=ais" alt="imagen mujer" />
      <p (click)="setImagenActual('https://img.freepik.com/foto-gratis/retrato-hermosa-mujer-morena-sexy-linda-feliz-labios-rojos-amplios-pantalones-clasicos-sobre-fondo-blanco_158538-9385.jpg?size=626&ext=jpg&ga=GA1.1.1016474677.1697500800&semt=ais'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-m" src="https://i.pinimg.com/originals/91/68/9e/91689e95e4303b647c629e2c228a933c.jpg" alt="imagen mujer" />
      <p (click)="setImagenActual('https://i.pinimg.com/originals/91/68/9e/91689e95e4303b647c629e2c228a933c.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-m" src="https://img.freepik.com/foto-gratis/retrato-joven-hermosa-nina-sonriente-ropa-moda-verano-mujer-sexy-despreocupada-posando-modelo-positivo-divirtiendose-gafas-sol-redondas_158538-5254.jpg" alt="imagen mujer" />
      <p (click)="setImagenActual('https://img.freepik.com/foto-gratis/retrato-joven-hermosa-nina-sonriente-ropa-moda-verano-mujer-sexy-despreocupada-posando-modelo-positivo-divirtiendose-gafas-sol-redondas_158538-5254.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
  <div class="card">
      <img class="i-m" src="https://img.freepik.com/fotos-premium/mujer-hermosa-joven-modelo-ropa-casual-estilo-moda-cerca-red_338491-2906.jpg" alt="imagen mujer" />
      <p (click)="setImagenActual('https://img.freepik.com/fotos-premium/mujer-hermosa-joven-modelo-ropa-casual-estilo-moda-cerca-red_338491-2906.jpg'); agregarAlCarrito()">Añadir al carrito</p>
  </div>
</div>
